@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    max-width: 100%;
}

img{ 
    width: 40%;
}

/*Header*/
header{
    background-image: url(../images/Header.png);
    background-size: cover;
    background-position: center;
}

#conteudo-cabecalho {
    display: flex;
    text-align: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    height: 459px;
    gap: 24px;
    color: white;
}

h1{
    font-family: "Luckiest Guy";
    font-size: 3rem;
    font-weight: 400;
}

header p, header div{
    max-width: 780px;
}

header div{
    display: flex;
    gap: 16px;
    justify-content: center;
}

button{
    height: 3rem;
    border-radius: 24px;
}

#button-download{
    width: 205px;
}

#button-online{
    width: 281px;
    background-color: #23272A;
    color: white;
}

/*Main*/
section{
    display: flex;
    padding: 40px;
    justify-content: center;
    gap: 60px;
    align-items: center;
}

h2{
    font-size: 2.5rem;
    font-weight: 800;
}

.section-par {
    background-color: #F6F6F6;
}

.container{
    display: flex;
    flex-direction: column;
    width: 348px;
    gap: 30px;
}

#section-final{
    flex-direction: column;
    gap: 30px;
}

#section-final h2{
    font-family: "Luckiest Guy";
    font-weight: 400;
    width: 608px;
    text-align: center;
}

#section-final p{
    width: 802px;
    text-align: center;
}

/*Footer*/
footer{
    background-color: #23272A;
    display: flex;
    justify-content: center;
    height: 8rem;
}

footer img{
    width: 14rem;
}
  
/*Media Queries*/

@media screen and (max-width: 980px) {
    html {
        width: 100vw;
    }
    img{
        width: 100%;
    }
    #conteudo-cabecalho{
        padding: 0 32px; 
    }
    h1{
        font-size: 2rem;
    }
    header div{
        flex-direction: column;
        align-items: center;
    }
   
    section{
        flex-direction: column;
        gap: 20px;
    }
    .container{
        width: 80vw;
        text-align: center;
        align-items: center;
    }
    .section-par{
        flex-direction: column-reverse;
    }
    h2{
        font-size: 1.5rem;
    }   
    footer{
        height: 5rem;
    }
    footer img{
        width: 10rem;
    }
}
@media screen and (max-width: 540px) {
    #conteudo-cabecalho{
        text-align: start;
        align-items: start;
    }
    #button-download,#button-online{
        width: 90vw;
    }
    .container{
        width: 90vw;
        align-items: start;
        text-align: start;
    }
    #section-final h2{
        font-size: 1.5rem;
        text-align: start;
    }
    #section-final p{
        width: 90vw;
        text-align: start;
    }
}
